<h1>Login</h1>
<div class="container">
  <%= simple_form_for :user do |f| %>
    <%= f.label :email, class: '', for: 'email' %>
    <%= f.email_field :email, placeholder: "Enter your email" %>
    <%= f.label :password, class: '', for: 'password' %>
    <%= f.password_field :password, :placeholder => "Enter your password" %>
    <%= f.button :submit, "Login"%> 
  <% end %>
</div>  
