<div class="container">
    <h3> choose your level and type of math chalange </h3>
        <%= simple_form_for :game do |f| %> 
        
              
                <%= f.input :level, collection: 1..3, prompt: "Select Level", selected: 1 %>
             
                <%= f.input :operation, priority: [ "+" ], collection: [ "+", "-"], selected: "+" %>
            
                <%= f.hidden_field :child_id, :value => @child.id %>
                <%= f.button :submit, "Start Game"%> 
           
        <% end %>  
</div>       
<div class="one">
    <%= image_tag("one_plus_one.jpg", :alt => "numbers img") %>
</div>