<h1> choose your level and type of math chalange </h1>

<%= form_for :game do |f|%>  
    <%= f.radio_button(:level, "1") %>
    <%= f.label(:level_1, "Level 1") %>
    <%= f.radio_button(:level, "2") %>
    <%= f.label(:level_2, "Level 2") %>
    <%= f.radio_button(:level, "3") %>
    <%= f.label(:level_3, "Level 3") %>
    <br></br>
    <%= f.radio_button(:operation, "+") %>
    <%= f.label(:op_1, "+") %>
    <%= f.radio_button(:operation, "-") %>
    <%= f.label(:level_4, "-") %>
    <br><br>
    <%= f.hidden_field :child_id, :value => @child.id %>
    <%= f.hidden_field :operation, :value => "+" %>
    <%= f.submit("Start Game") %>
    <br><br>
<% end %>
