

<p> Hello!!! Solve This!</p>

<% if(@game[:total_count] <5) %>
    <p> <%= @game[:problem] %> </p>

    <% url = "/games/#{@game[:id]}" %>

    <%= form_tag(url, method: "put") do %>
        <%= label_tag(:result, "Result:") %>
        <%= text_field_tag(:result) %>
        <%= submit_tag("Submit") %>
    <% end %>
<% else %>
    <%= link_to "Start over", games_path(:child_id => @game[:child_id]) %>  
<% end %>

<h1><%=@game[:right_count]%>/<%=@game[:total_count]%></h1>





